.Footer{
    background-color: #342663;
    text-align: right;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    color: orange;
    font-weight: bold;
}